*.mkv
*.mp4
*.zip
ex/
y2s1/数分拓展/数学分析拓展1大作业1.docx
y2s2/MA1254 Mathematics in Business/Case/1/exp/
y3s2/实变函数/ppt/ppt.pdf
y2s2/毛概/马克思主义基本原理（2021版） by 马克思主义基本原理（2021版）课题组 (z-lib.org) (1).pdf
y2s2/普通物理/大学物理（二）_original.pdf
y2s2/普通物理/大学物理（一）_orignal.pdf
y3s1/人工智能的数学/大作业.rar
y3s1/人工智能的数学/大作业/__pycache__/utils.cpython-310.pyc

# Microsoft临时文件
~$*